<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Weather Journal</title>
</head>
<body>
  <div id = "app">
    <div class ="holder headline">
      Weather Journal App
    </div>
    <div class ="holder zip">
      <label for="location">Enter zipcode here</label>
      <input type="text" id="location" placeholder="Enter destination here">
    </div>
    <div class ="holder feel">
      <label for="dday">Departure Date: </label>
      <input class= "myInput" id="dday" type="date" min="2020-08-01" max="2021-08-07"></input>
      <button id="generate" type = "submit"> Generate </button>
    </div>
    <div class ="holder entry">
      <div class = "title">*~Upcoming Trip~*</div>
      <div id = "entryHolder">
        <div id = "date"></div> 
        <div id = "temp"></div>
        <div id = "content"></div>
      </div>
    </div>
  </div>

</body>
</html>