$bgcolor: #c5c2c0;
$highlighter: #e1ddda;
$fontstyle: fantasy;
$placeholderfont: monospace;
$bradius: 30%;//    border-radius: 15%;
$footercolor: #02346c;
$headercolor : #e7bdb6;

header{
    background-color: $headercolor;
}

body{
    background: $bgcolor;
    font-family: -apple-system, BlinkMacSystemFont, $fontstyle, sans-serif;
}

footer{
    background-color: $footercolor;
}

#entryHolder{
    background-color: rgba(265,265,265,0.4);
    padding: 20px;
    border-radius: $bradius;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: min-content;
    /* grid-template-columns:  */
    height:minmax(100vh, auto);
    background: $bgcolor;
    color: #000000;
    justify-content: left;
    grid-gap: 1em;
    font-size: 20px;
    font-family: $fontstyle, sans-serif;
    padding: 15px;
}

#countdown{
    font-size: 18px;
    color: $footercolor;
    background-color: rgba(265,265,265,0.4);
    width: auto;
}
.mainimg{
    width:80%;
    text-align: center;
    border-radius: $bradius;

}

.logo{
    height:2em;  
    width: auto;
    margin: 5px 10px 5px 10px;
    padding: 2px;  
}

.secondary{
    font-size: 15px;
    justify-content: left;
}

.entry{
    //background: rgba(59, 74, 107, .4);
    text-align: center;
}

.title{
    font-size: 22px;
    color: #ffffff;
    margin: 15px 5px 10px 5px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
h1{
    font-size: 36px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #000000; 
    font-family: $placeholderfont, sans-serif;
    padding: 5px;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #000000; 
    font-family: $placeholderfont, sans-serif;
    padding: 5px;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #000000; 
    font-family: $placeholderfont, sans-serif;
    padding: 5px;

} 